<!-- Auth cards wrapper -->
<main class="fluid auth__wrapper">

  <!-- Form Card -->
  <div class="container sign__up">

    <!-- Card header -->
    <div class="auth__header">
      <h5>Sign Up</h5>
      <p>Join and start your journey with us!</p>
    </div>

    <!-- Main Form -->
    <form class="fluid" id="SignUpForm" action="/auth/sign-up" method="post" autocomplete="on">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <label for="username"><b>User name</b></label>
        <input type="text" name="username" id="username" placeholder="John Doe" value="<%- userName || null %>" />
        <p id="userNameError"><%- userNameError %></p>
      </div>

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <label for="email"><b>Email</b></label>
        <input type="text" name="email" id="email" placeholder="johndoe@gmail.com" value="<%- email || null %>" />
        <p id="emailError"><%- emailError %></p>
      </div>

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" id="password" placeholder="Enter your secure password"
          value="<%- password || null %>" />
        <p id="passError"><%- notValidPassword %></p>
      </div>

      <!-- Inputs gruop -->
      <div class="fluid form__group">
        <label for="confirmPassword"><b>Confirm password</b></label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-enter your password"
          value="<%- confirmPassword || null %>" />
        <p id="confirmPassError"><%- passMismatch %></p>
      </div>

      <!-- Inputs gruop -->
      <div class="fluid fluid form__group">
        <button class="btn" type="submit" id="signUpSubmitBtn">Sign Up</button>
      </div>
    </form>

    <!-- Card Footer -->
    <div class="fluid auth__footer">
      <p class="condition-links">
        <span>By signing up, you agree to our</span>
        <a href="https://sites.google.com/view/authenticatorapp2fa/term-conditions" target="_blank"
          rel="noopener noreferrer">Terms &amp;
          Conditions</a>
        <span> and </span>
        <a href="https://termly.io/resources/articles/privacy-policy-for-blogger/" target="_blank"
          rel="noopener noreferrer">Privacy Policy.</a>
      </p>

      <p class="sign__in-link">
        <span>Already signed up an account? </span>
        <a href="/auth/sign-in">Sign in</a>
      </p>
    </div>
  </div>
</main>

<script type="text/javascript" src="/javascripts/auth/signUpValidator.js" nonce="<%= nonce %>"></script>