<footer>
  <main class="footer__contents">
    <div class="flex group-1">
      <div class="fluid contents">
        <div class="fluid devs-intro">
          <p>Hi👋, I'm <b>Mehmed Khan</b>.</p>

          <p>Full-Stack Engineer 🪄| Web Developer 👨‍💻</p>

          <p>I build this modern Weblog platform, Blogify. Using web technologies such as Node, Express & MongoDB. The
            source code is available on GitHub.</p>
        </div>
        <h5>Get in touch</h5>
        <div class="flex media-links">
          <a href="https://github.com/smmehmedkhan" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://discord.com/channels/@smmehmedkhan" target="_blank">
            <i class="fa-brands fa-discord"></i>
          </a>
          <a href="https://www.linkedin.com/in/smmehmedkhan" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://www.facebook.com/smmehmedkhan" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/smmehmedkhan" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="fluid contents">
        <h5>Quick links</h5>
        <ul class="fluid footer-links">
          <li><a href="/about" class="<%= activeRoute ? activeRoute('/about', path) : '' %>">About</a></li>
          <li><a href="/contact" class="<%= activeRoute ? activeRoute('/contact', path) : '' %>">Contact</a></li>
          <li><a href="/privacy" class="<%= activeRoute ? activeRoute('/privacy', path) : '' %>">Privacy Policy</a></li>
          <li><a href="/terms" class="<%= activeRoute ? activeRoute('/terms', path) : '' %>">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="flex group-2">
      <div class="fluid contents">
        <p>
          Blogify is your go-to space for exploring ideas, stories, and insights
          in everyday life. We aim to inspire, inform, and connect with readers
          through meaningful content.
        </p>
        <p>Stay curious, stay inspired, and keep exploring with Blogify!</p>
        <%- include('../components/brand-logo.ejs') %>
      </div>
      <div class="fluid contents">
        <h5>Subscribe to our newsletter</h5>
        <p>Stay updated with our latest posts and news.</p>
        <form class="fluid nl-form" action="/subscribe" method="POST" autocomplete="true">
          <input type="email" name="subscribeEmail" placeholder="Enter your email address" autocomplete="true"
            required />
          <button type="submit" class="subscribe">Subscribe</button>
        </form>
      </div>
    </div>
  </main>
  <hr class="divider" />
  <!-- Copyright -->
  <div class="copyright">
    <p>
      &copy; <%= new Date().getFullYear(); %> Blogify &middot; All rights
        reserved.
    </p>
  </div>
</footer>