<section class="container latest__blogs" id="latestPost">

  <div class="inline__container blogs__header">
    <h4>Latest blog posts</h4>
    <%- include('../components/search.ejs') %>
  </div>

  <ul class="blogs__container">
    <% if (blogs.length===0) { %>
      <%- include('../components/empty-post.ejs') %>
        <% } %>
          <% blogs?.forEach(blog=> { %>
            <li class="blog__item">
              <a href="/blog/<%= blog._id %>">
                <%- include('../components/blog-card.ejs', { blog: blog }) %>
              </a>
            </li>
            <% }) %>
  </ul>
  <%- include('../components/pagination.ejs')%>
</section>