<section class="latest_blogs">

  <div class="blogs_header">
    <h2>Latest blogs</h2>
    <%- include('../components/search.ejs') %>
  </div>

  <% if (blogs.length===0) { %>
    <%- include('../components/empty-post.ejs') %>
      <% } else { %>
        <ul>
          <% blogs.forEach(blog=> { %>
            <li>
              <a href="/blog/<%= blog._id %>">
                <article>
                  <h4>
                    <%= blog.title %>
                  </h4>
                  <span class="article_date">
                    <i class="fa-solid fa-calendar-days"></i>
                    <%= blog.createdAt.toDateString() %>
                  </span>
                  <% if (blog?.coverImage?.url) { %>
                    <div class="blog-cover">
                      <img src="<%= blog.coverImage.url %>" alt="<%= blog.title %>" loading="lazy">
                    </div>
                    <% } else {%>
                      <div class="blog-description">
                        <%- blog.descriptions %>
                      </div>
                      <% } %>
                </article>
              </a>
            </li>
            <% }) %>
        </ul>

        <%- include('../components/pagination.ejs')%>
          <% } %>
</section>