<nav id="navbar">
  <div class="navbar__contain-box">
    <%- include('../components/brand-logo.ejs') %>
      <div class="navbar__desktop">
        <ul class="navbar__links">
          <li>
            <a href="/about" class="<%= activeRoute ? activeRoute('/about', path) : '' %>">
              <i class="fa-solid fa-envelope-open-text"></i>
              About
            </a>
          </li>
          <li>
            <a href="/contact" class="<%= activeRoute ? activeRoute('/contact', path) : '' %>">
              <i class="fa-solid fa-envelope"></i>
              Contact
            </a>
          </li>
          <li>
            <a href="/users/dashboard" class="<%= activeRoute ? activeRoute('/users', path) : '' %>">
              <i class="fa-solid fa-pen"></i>
              Dashboard
            </a>
          </li>
          <%- include('../components/auth-buttons.ejs') %>
        </ul>
      </div>
      <div class="navbar__mobile">
        <button id="hamburger" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>

        <div class="navbar__menu" id="navbarMenu" aria-hidden="true">
          <ul class="navbar__links">
            <li>
              <a href="/about" class="<%= activeRoute ? activeRoute('/about', path) : '' %>">
                <i class="fa-solid fa-envelope-open-text"></i>
                About
              </a>
            </li>
            <li>
              <a href="/contact" class="<%= activeRoute ? activeRoute('/contact', path) : '' %>">
                <i class="fa-solid fa-envelope"></i>
                Contact
              </a>
            </li>
            <li>
              <a href="/users/dashboard" class="<%= activeRoute ? activeRoute('/users', path) : '' %>">
                <i class="fa-solid fa-pen"></i>
                Dashboard
              </a>
            </li>
            <%- include('../components/auth-buttons.ejs') %>
          </ul>
        </div>
      </div>
  </div>
</nav>
<script type="text/javascript" defer src="/javascripts/navigation/navbarDisappear.js"></script>
<script type="text/javascript" defer src="/javascripts/navigation/toggleButton.js"></script>