<nav id="navbar" areia-label="Navigation bar">
  <div class="desktop">
    <ul class="left">
      <li>
        <a href="/">
          <img id="navBrandLogo" class="logo" src="/images/blogify-logo-light.png" alt="Blogify logo" height="32"
            width="32">
        </a>
      </li>
      <li>
        <a href="/about" class="<%= activeRoute ? activeRoute('/about', path) : '' %>">
          <i class="fa-solid fa-envelope-open-text"></i>
          <span>About</span>
        </a>
      </li>
      <li>
        <a href="/contact" class="<%= activeRoute ? activeRoute('/contact', path) : '' %>">
          <i class="fa-solid fa-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <li>
        <a href="/users/dashboard" class="<%= activeRoute ? activeRoute('/users/dashboard', path) : '' %>">
          <i class="fa-solid fa-pen"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
    <ul class="right">
      <li>
        <button class="toggle-theme" aria-label="Toggle theme"></button>
      </li>
      <% if (signedIn) { %>
        <li>
          <a href="/users" class="<%= activeRoute ? activeRoute('/users', path) : '' %>">
            <div class="profile-badge">
              <span>
                <%= user.name || 'Guest' %>
              </span>
              <img src="<%= user.photo?.url || '/images/user.png' %>" alt="<%= user?.name || 'Guest' %>" width="40"
                height="40" />
            </div>
          </a>
        </li>
        <li class="sign-out">
          <a href="/auth/sign-out" class="<%= activeRoute ? activeRoute('/auth/sign-out', path) : '' %>">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </li>
        <% } else { %>
          <li>
            <a href="/auth/sign-in" class="<%= activeRoute ? activeRoute('/auth/sign-in', path) : '' %>">
              <i class="fa-solid fa-right-to-bracket"></i>
              <span>Sign In</span>
            </a>
          </li>
          <li>
            <a href="/auth/sign-up" class="<%= activeRoute ? activeRoute('/auth/sign-up', path) : '' %>">
              <i class="fa-solid fa-user-plus"></i>
              <span>Sign Up</span>
            </a>
          </li>
          <% } %>
    </ul>
  </div>
  <div class="mobile">
    <%- include('../components/brand-logo.ejs') %>
      <div class="buttons">
        <button class="toggle-theme" aria-label="Toggle theme"></button>
        <button id="hamburger" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>

      <menu id="navbarMenu" aria-hidden="true">
        <ul>
          <li>
            <a href="/about" class="<%= activeRoute ? activeRoute('/about', path) : '' %>">
              <i class="fa-solid fa-envelope-open-text"></i>
              <span>About</span>
            </a>
          </li>
          <li>
            <a href="/contact" class="<%= activeRoute ? activeRoute('/contact', path) : '' %>">
              <i class="fa-solid fa-envelope"></i>
              <span>Contact</span>
            </a>
          </li>
          <li>
            <a href="/users/dashboard" class="<%= activeRoute ? activeRoute('/users', path) : '' %>">
              <i class="fa-solid fa-pen"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <% if (signedIn) { %>
            <li>
              <div class="profile-badge">
                <a href="/users" class="<%= activeRoute ? activeRoute('/users', path) : '' %>">
                  <i class="fa-solid fa-user-tie"></i>
                  <span>Account</span>
                </a>
              </div>
            </li>
            <li>
              <a href="/auth/sign-out" class="<%= activeRoute ? activeRoute('/auth/sign-out', path) : '' %>">
                <span>Sign Out</span>
                <i class="fa-solid fa-right-from-bracket"></i>
              </a>
            </li>
            <% } else { %>
              <li>
                <a href="/auth/sign-in" class="<%= activeRoute ? activeRoute('/auth/sign-in', path) : '' %>">
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <span>Sign In</span>
                </a>
              </li>
              <li>
                <a href="/auth/sign-up" class="<%= activeRoute ? activeRoute('/auth/sign-up', path) : '' %>">
                  <i class="fa-solid fa-user-plus"></i>
                  <span>Sign Up</span>
                </a>
              </li>
              <% } %>
        </ul>
      </menu>
  </div>
</nav>
<script type="text/javascript" src="/javascripts/navigation/navbarDisappear.js" nonce="<%= nonce %>"></script>
<script type="text/javascript" src="/javascripts/navigation/toggleButton.js" nonce="<%= nonce %>"></script>