<div class="inline__container pagination" id="paginationContainer">
  <!-- Previous Button -->
  <a href="<%= prevPage !== null && ('/?page=' + prevPage) %>"
    class="link__btn prev__link <%= prevPage === null && 'disabled' %>" aria-disabled="<%= prevPage === null %>"
    <%=prevPage===null && 'tabindex="-1"' %>
    >
    <i class="fa-solid fa-left-long"></i>
  </a>

  <!-- Current Page Info -->
  <span class="page__number">Page <%= current %> of <%= totalPages %>
  </span>

  <!-- Next Button -->
  <a href="<%= nextPage !== null && ('/?page=' + nextPage) %>"
    class="link__btn next__link <%= nextPage === null && 'disabled' %>" aria-disabled="<%= nextPage === null %>"
    <%=nextPage===null && 'tabindex="-1"' %>
    >
    <i class="fa-solid fa-right-long"></i>
  </a>
</div>