<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="<%= locals.description %>" />
  <meta name="csrf-token" content="<%= csrfToken || '' %>">
  <title>
    <%= locals.title %>
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap"
    rel="stylesheet" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
  <link rel="stylesheet" href="/stylesheets/styles.css" />

  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify" nonce="<%= nonce %>"></script>
  <script src="https://kit.fontawesome.com/64e3692e6c.js" crossorigin="anonymous" nonce="<%= nonce %>"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" nonce="<%= nonce %>"></script>
  <script src="https://cdn.tiny.cloud/1/4zioc8toqg7phub4kl9epcq8pk1mxnqminykctmqb5kvlnwy/tinymce/7/tinymce.min.js"
    referrerpolicy="origin" nonce="<%= nonce %>"></script>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
    <%- body %>
      <%- include('./components/toast.ejs') %>
        <script src="/javascripts/navigation/theme.js" nonce="<%= nonce %>"></script>
</body>

</html>