<main class="add__post--page">
  <%- include('../../components/back-btn.ejs') %>

    <section class="add__post">
      <!-- Header/Intro -->
      <div class="add__post--header">
        <h4>Add a New Blog Post</h4>
        <p class="add__post--help">
          Share your thoughts with the world! Fill out the form below to publish a new blog post.<br>
          <span class="add__post--tip">Tip: Use relevant tags and a descriptive title to reach more readers.</span>
        </p>
      </div>

      <!-- Main Form -->
      <form class="add__post--form" action="/users/dashboard/add" method="post" enctype="multipart/form-data"
        autocomplete="true">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <!-- Left inputs group -->
        <div class="form__group left">
          <!-- Title -->
          <div class="textbox">
            <label for="addPostTitle"><b>Title</b></label>
            <input type="text" id="addPostTitle" name="addPostTitle" placeholder="Enter your post title" required />
          </div>

          <!-- Tags -->
          <div class="textbox">
            <label for="addPostTags"><b>Categories</b></label>
            <input type="text" name="addPostTags" id="addPostTags"
              placeholder="Add tags or keywords relavent to your post" required />
            <small>You can select multiple tags from suggestions list or type to add new tags.</small>
          </div>

          <!-- Cover Image -->
          <div class="textbox">
            <label for="addPostCoverImage"><b>Cover Image</b> (Optional)</label>
            <input type="file" id="addPostCoverImage" name="addPostCoverImage" accept="image/*" />
            <small>Please select a web-supported image file (JPG, JPEG, PNG, or WEBP).</small>
          </div>

          <!-- Preview box -->
          <div class="image__preview--box">
            <img id="addPostImagePreview" src="/icons/image.svg" alt="Cover Preview" />
          </div>

          <!-- Submit -->
          <button type="submit" class="add__post--button">
            <i class="fa-solid fa-plus"></i>
            Add Post
          </button>
        </div>

        <!-- Right inputs group -->
        <div class="form__group right">
          <!-- TinyMCE text area -->
          <label for="addPostTextArea"><b>Contents</b></label>
          <textarea name="addPostTextArea" id="addPostTextArea"></textarea>
        </div>
      </form>

      <!-- Footer/Help -->
      <div class="add__post--footer">
        <h6>Need Help?</h6>
        <ul>
          <li>Read our <a href="/help/writing-tips" target="_blank">blog writing tips</a> for inspiration.</li>
          <li>Check the <a href="/help/formatting" target="_blank">formatting guide</a> for content styling.</li>
          <li>Contact <a href="/support" target="_blank">support</a> if you have any issues.</li>
        </ul>
      </div>
    </section>
</main>

<%- include('../../partials/footer.ejs') %>
  <script type="text/javascript" src="/javascripts/components/addPostTagify.js" nonce="<%= nonce %>"></script>
  <script type="text/javascript" src="/javascripts/components/addPostLivePreview.js" nonce="<%= nonce %>"></script>
  <script type="application/javascript" src="/javascripts/components/addPostTinymceConfig.js"
    nonce="<%= nonce %>"></script>