<main>
  <!-- Back button -->
  <div class="inline__container back__btn">
    <a class="link__btn" href="/users/dashboard">
      <i class="fa-solid fa-left-long"></i>
      Back
    </a>
  </div>

  <section class="container edit__post">
    <!-- Header/Intro -->
    <div class="fluid edit__post--header">
      <h4>Update your Blog Post</h4>
      <p class="edit__post--help">
        Make changes to your post below. Update the content, tags, or cover image as needed.<br>
        <span class="edit__post--tips">Tip: Keep your content fresh and relevant for your readers.</span>
      </p>
    </div>

    <!-- Main Form -->
    <form class="flex edit__post--form" action="/users/dashboard/edit/<%= blog._id %>?_method=PUT" method="post"
      enctype="multipart/form-data" autocomplete="true">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <!-- Left inputs group -->
      <div class="fluid form__group left">
        <!-- Title -->
        <div class="fluid textbox">
          <label for="editPostTitle"><b>Title</b></label>
          <input type="text" id="editPostTitle" name="editPostTitle" value="<%= blog.title %>"
            placeholder="Enter your post title" />
        </div>

        <!-- Tags -->
        <div class="fluid textbox">
          <label for="editPostTags"><b>Categories</b></label>
          <input type="text" name="editPostTags" id="editPostTags"
            data-initial-tags='<%- JSON.stringify(blog.tags || []) %>' data-all-tags='<%- JSON.stringify(tags || []) %>'
            placeholder="Add tags..." required />
          <small>You can select multiple tags from suggestions list or type to add new tags.</small>
        </div>

        <!-- Cover Image -->
        <div class="fluid textbox">
          <label for="editPostCoverImage"><b>Cover Image</b> (Optional)</label>
          <input type="file" id="editPostCoverImage" name="editPostCoverImage" accept="image/*" />
          <small>Please select a web-supported image file (JPG, JPEG, PNG, or WEBP).</small>
        </div>

        <!-- Preview box -->

        <div class="fluid image__preview--box">
          <% if (blog?.coverImage?.url) { %>
            <img class="image__preview" src="<%= blog.coverImage.url %>" alt="<%= blog.title %>">
            <% } else { %>
              <img class="image__preview" src="/icons/image.svg" alt="Cover image preview" />
              <% } %>
        </div>

        <!-- Actions (Update/Delete) -->
        <div class="flex edit__post--actions">
          <button type="submit" class="inline__container update__btn">
            <i class="fa-solid fa-check"></i>
            <span>Update</span>
          </button>
          <button type="button" class="inline__container delete__btn" id="deletePost" data-blog-id="<%= blog._id %>">
            <i class="fa-solid fa-trash"></i>
            <span>Delete</span>
          </button>
        </div>
      </div>

      <!-- Right inputs group -->
      <div class="fluid form__group right">
        <!-- TinyMCE text area -->
        <label for="editPostTextArea"><b>Content</b></label>
        <textarea name="editPostTextArea" id="editPostTextArea"><%= blog.descriptions %></textarea>
      </div>
    </form>

    <!-- Footer/Help -->
    <div class="card edit__post--footer">
      <h6>Need Help?</h6>
      <ul class="fluid">
        <li>Review our <a href="https://www.searchenginejournal.com/content-writing-tips-from-experts/477016/"
            target="_blank" rel="noopener noreferrer">editing tips</a> for best practices.</li>
        <li>Check the <a href="https://www.markdownguide.org/" target="_blank" rel="noopener noreferrer">formatting
            guide</a> for content styling.</li>
        <li>Contact <a href="/contact" target="_blank">support</a> if you have any issues.</li>
      </ul>
    </div>
  </section>
</main>

<%- include('../../partials/footer.ejs') %>
  <script type="text/javascript" src="/javascripts/components/tagify.js" nonce="<%= nonce %>"></script>
  <script type="text/javascript" src="/javascripts/components/imagePreview.js" nonce="<%= nonce %>"></script>
  <script type="text/javascript" src="/javascripts/components/editPostDeleteBtn.js" nonce="<%= nonce %>"></script>