<main>
  <section class="container profile">

    <!-- Left | User profile informations -->
    <header class="fluid profile--info">

      <!-- Profile picture -->
      <div class="flex avatar__box">
        <img src='<%=targetUser.photo?.url || ' /images/user.png' %>' alt="<%= targetUser.name || 'User avatar' %>" />
      </div>

      <!-- User names -->
      <div class="flex profile__names--wrapper">
        <div class="fluid profile__names">
          <% if (targetUser?.name) { %>
            <h2>
              <%= targetUser?.name %>
            </h2>
            <% } %>
              <h5>
                @<%= targetUser.username %>
              </h5>
        </div>
        <div class="inline__container follow__buttons">
          <% if (!currentUser) { %>
            <button id="followBtn" class="follow"><i class="fa-solid fa-plus"></i><span>Follow</span></button>
            <% } else if (currentUser._id !==targetUser._id) { %>
              <% if (isFollowing) { %>
                <button id="unfollowBtn" class="unfollow"><i
                    class="fa-solid fa-xmark"></i><span>Unfollow</span></button>
                <% } else { %>
                  <button id="followBtn" class="follow"><i class="fa-solid fa-plus"></i><span>Follow</span></button>
                  <% } %>
                    <% } %>
        </div>
      </div>

      <!-- User bio -->
      <div class="profile__bio">
        <% if (targetUser?.bio) { %>
          <p>
            <%= targetUser?.bio %>
          </p>
          <% } %>
      </div>

      <!-- User stats -->
      <div class="flex profile__stats">
        <% if (targetUser.verified) { %>
          <div class="badge verified">
            <strong>&#10004;</strong>
            <span>Verified</span>
          </div>
          <% } else { %>
            <div class="badge unverified">
              <strong>&#10060;</strong>
              <span>Unverified</span>
            </div>
            <% }%>

              <div class="badge">
                <strong>
                  <%= targetUser.posts?.length %>
                </strong>
                <span>Posts</span>
              </div>
              <div class="badge">
                <strong>
                  <%= targetUser?.followers?.length %>
                </strong>
                <span>Followers</span>
              </div>
              <div class="badge">
                <strong>
                  <%= targetUser?.following?.length %>
                </strong>
                <span>Following</span>
              </div>
              <div class="badge">
                <strong>
                  <%= targetUser?.readingList?.length %>
                </strong>
                <span>Views</span>
              </div>
      </div>

      <!-- About User -->
      <div class="fluid profile__about">
        <h6>About</h6>
        <div class="inline__container rows">
          <i class="fa-solid fa-user"></i>
          <p class="user-role">
            <%= targetUser.role.charAt(0).toUpperCase() + targetUser.role.slice(1) %>
          </p>
        </div>
        <% if (targetUser?.profession) { %>
          <div class="inline__container rows">
            <i class="fa-solid fa-briefcase"></i>
            <p class="user__profession">
              <%= targetUser?.profession %>
            </p>
          </div>
          <% } %>
            <% if (targetUser?.location) { %>
              <div class="inline__container rows">
                <i class="fa-solid fa-location-dot"></i>
                <p>
                  <span>
                    <%= targetUser?.location?.city %>
                  </span>,
                  <span>
                    <%= targetUser?.location?.state %>
                  </span>,
                  <span>
                    <%= targetUser?.location?.country %>
                  </span>
                </p>
              </div>
              <% } %>
      </div>

      <!-- Socials -->
      <div class="fluid profile__Socials">
        <h6>Socials</h6>
        <div class="inline__container user__mail">
          <i class="fa-solid fa-envelope"></i>
          <p class="user-email">
            <%= targetUser.email %>
          </p>
        </div>
        <ul class="fluid social__links">
          <% if (targetUser?.socials?.facebook) { %>
            <li class="inline__container">
              <i class="fa-brands fa-square-facebook"></i>
              <a href="<%= targetUser?.socials?.facebook %>">
                <%= targetUser?.socials?.facebook %>
              </a>
            </li>
            <% } %>
              <% if (targetUser?.socials?.instagram) { %>
                <li class="inline__container">
                  <i class="fa-brands fa-square-instagram"></i>
                  <a href="<%= targetUser?.socials?.instagram %>">
                    <%= targetUser?.socials?.instagram %>
                  </a>
                </li>
                <% } %>
                  <% if (targetUser?.socials?.twitter) { %>
                    <li class="inline__container">
                      <i class="fa-brands fa-square-x-twitter"></i>
                      <a href="<%= targetUser?.socials?.twitter %>">
                        <%= targetUser?.socials?.twitter %>
                      </a>
                    </li>
                    <% } %>
                      <% if (targetUser?.socials?.linkedin) { %>
                        <li class="inline__container">
                          <i class="fa-brands fa-linkedin"></i>
                          <a href="<%= targetUser?.socials?.linkedin %>">
                            <%= targetUser?.socials?.linkedin %>
                          </a>
                        </li>
                        <% } %>
                          <% if (targetUser?.socials?.website) { %>
                            <li class="inline__container">
                              <i class="fa-solid fa-globe"></i>
                              <a href="<%= targetUser?.socials?.website %>">
                                <%= targetUser?.socials?.website %>
                              </a>
                            </li>
                            <% } %>
        </ul>
      </div>
    </header>

    <!-- Divider -->
    <div class="profile--divider"></div>

    <!-- Right | Users actions & posts -->
    <div class="fluid profile--data">

      <!-- Bottom | User top posts -->
      <div class="fluid profile--bottom">
        <h5>
          <%= targetUser.name || targetUser.username %>'s top posts
        </h5>
        <% if (posts?.length===0) { %>
          <%- include('../../components/empty-post.ejs') %>
            <% } else { %>
              <ul class="blogs__grid">
                <% posts.forEach(post=> { %>
                  <li>
                    <a href="/blog/<%= post._id %>">
                      <%- include('../../components/blog-card.ejs', { blog: post }) %>
                    </a>
                  </li>
                  <% }) %>
              </ul>
              <% } %>
      </div>
    </div>
  </section>
</main>

<%- include('../../partials/footer.ejs') %>

  <script src="/javascripts/components/followHandler.js" nonce="<%= nonce %>"></script>