<main class="blog_page">
  <a class="back_btn" href="/">
    <i class="fa-solid fa-left-long"></i>
    Back
  </a>

  <!-- Blog Section -->
  <article id="blog-container" data-blog-id="<%= blog._id %>" data-user-id="<%= userId || '' %>">
    <h4 class="blog-title">
      <%= blog.title %>
    </h4>
    <div class="blog_credit-wrapper">
      <span class="blog_author">
        <i class="fa-solid fa-at"></i>
        <%= blog.author %>
      </span>
      <span class="blog_date">
        <i class="fa-solid fa-calendar-days"></i>
        <%= blog.createdAt.toDateString() %>
      </span>
    </div>
    <div class="blog_content">
      <%- blog.descriptions %>
    </div>

    <!-- Blog Interactions Section -->
    <div class="blog-interactions">
      <button id="likeBtn" class="like <%= userLiked ? 'active' : '' %>">
        <i class="fa-solid fa-thumbs-up"></i>
        <span id="likeCounter">
          <%= blog?.likes?.length || 0 %>
        </span>
      </button>
      <button id="dislikeBtn" class="dislike <%= userDisliked ? 'active' : '' %>">
        <i class="fa-solid fa-thumbs-down"></i>
        <span id="dislikeCounter">
          <%= blog?.dislikes?.length || 0 %>
        </span>
      </button>
      <button class="share" id="shareButton">
        <i class="fa-solid fa-share"></i>
        <span id="share-count">
          <%= blog.shareCount || 0 %>
        </span>
      </button>
    </div>
    <script type="text/javascript" src="/javascripts/components/blogInteractions.js" nonce="<%= nonce %>"></script>
  </article>

  <!-- Comments Section -->
  <%- include('../components/comments.ejs') %>
</main>

<%- include('../partials/footer.ejs') %>