<main>
  <!-- Back button -->
  <div class="inline__container back__btn">
    <a class="link__btn" href="/">
      <i class="fa-solid fa-left-long"></i>
      Back
    </a>
  </div>

  <!-- Blog Section -->
  <article class="container blog" id="blogContainer" data-blog-id="<%= blog._id %>" data-user-id="<%= userId || '' %>">
    <!-- Blog Title -->
    <h3 class="blog__title">
      <%= blog.title %>
    </h3>

    <!-- Blog Credits -->
    <div class="flex blog__credits">
      <div class="tags blog__author">
        <a href="/users/<%= blog.author %>">
          <i class="fa-solid fa-at"></i>
          <span>
            <%= blog.author %>
          </span>
        </a>
      </div>
      <div class="tags blog__date">
        <i class="fa-solid fa-calendar-days"></i>
        <span>
          <%= blog.createdAt.toDateString() %>
        </span>
      </div>
    </div>

    <!-- Blog Contents -->
    <div class="blog__contents">
      <%- blog.descriptions %>
    </div>

    <!-- Blog Interactions Section -->
    <div class="flex blog-interactions">
      <button id="likeBtn" class="flex like <%= userLiked ? 'active' : '' %>">
        <i class="fa-solid fa-thumbs-up"></i>
        <span id="likeCounter">
          <%= blog?.likes?.length || 0 %>
        </span>
      </button>
      <button id="dislikeBtn" class="flex dislike <%= userDisliked ? 'active' : '' %>">
        <i class="fa-solid fa-thumbs-down"></i>
        <span id="dislikeCounter">
          <%= blog?.dislikes?.length || 0 %>
        </span>
      </button>
      <button class="flex share" id="shareButton">
        <i class="fa-solid fa-share"></i>
        <span id="share-count">
          <%= blog.shareCount || 0 %>
        </span>
      </button>
    </div>
    <script type="text/javascript" src="/javascripts/components/blogInteractions.js" nonce="<%= nonce %>"></script>
  </article>

  <!-- Comments Section -->
  <%- include('../components/comments.ejs') %>
</main>

<%- include('../partials/footer.ejs') %>