<main>
  <%- include('../partials/banner.ejs') %>
    <%- include('../partials/latest-blogs.ejs') %>
      <!-- <%- include('../partials/hero-image.ejs') %> -->
</main>

<%- include('../partials/footer.ejs') %>
  <script type="text/javascript" src="/javascripts/components/searchHandler.js" nonce="<%= nonce %>"></script>